*
  box-sizing: border-box

header,
main,
footer

body
  margin: 0

header

main
  section:first-of-type
    padding-top: 10rem

footer

section
  position: relative
  padding-left: 2em
  padding-right: 2em

  +mobile
    padding-left: 1em
    padding-right: 1em

  & + section

figure
  margin: 0

img
  display: block
  max-width: 100%
  margin: 0 auto

.center
  text-align: center


// Links

a
  text-decoration: none
  color: $color-black
  border-bottom: 1px solid $color-black

  &:hover
    color: $color-grey
    border-bottom: 1px solid $color-grey

ul
  margin-bottom: 2em
  padding: 0
  list-style-type: none

  li
    margin: 0.5em 0

figure
  +mobile
    margin: 0
