*
  box-sizing: border-box

header,
main,
footer

body
  margin: 0

header
  position: fixed
  padding: 2em 0
  width: 100%

section
  & + section
    margin-top: 4rem

  &.me
    //padding: 3em 0

  &.project-navigation
    position: fixed
    top: 60%
    left: 0
    width: 100%
    margin: 0

  &.project
    background: grey
    padding: 9em 0

  &.project-list
    padding: 4em 0

  &.about
    border-top: 1px solid black
    border-bottom: 1px solid black
    padding: 3em 0

  &.copyright
    padding: 1em

footer
  p
    margin: 0

.wrapper
  max-width: $page-width-max
  margin: 0 auto
  font-size: 0

.column
  font-size: 1rem
  display: inline-block
  vertical-align: top
  padding: 0 1rem

  &.full
    width: 100%

  &.half
    width: (100% / 2)

  &.third
    width: (100% / 3)

  &.two-thirds
    width: (100% / 3) * 2

  &.quarter
    width: (100% / 4)

  &.three-quarters
    width: (100% / 4) * 3

img
  display: block
  max-width: 100%
  margin: 0 auto

.center
  text-align: center

a
  text-decoration: underline
  color: black

ul
  margin-bottom: 2em
  padding: 0
  list-style-type: none

  li
    margin: 0.25em 0

.statement
  p
    font-size: 1.25em